<!DOCTYPE html>
<html lang="en">
<body>
<div><p>Hi ${name}</p>
    <p>We are truly grateful to you for choosing Elephone, your support gives us the opportunity to
        grow and provide the best service.</p>
    <p>Our team would like to thank you for giving us a wonderful
        opportunity to service you. It is our desire to make sure you’re satisfied with our services and products. You
        inspire us to do our best.</p>
    <p>Your repair and warranty details are attached below. If you have any questions or concerns at all, please don’t
        hesitate to contact us, we will be happy to answer your questions through email, phone or messages.</p>
    <p>We would also appreciate it if you would be able to leave a review for us <a
            href=\"https://www.facebook.com/elephoneau/reviews/\" target=\"_blank\">here</a> so we can continue to grow
        and improve.</p>
    <p>Thank you and we appreciate your business.</p>
    <p>Cheers,</p>
    <p>Elephone</p>
</div>
</body>
</html>