<html>
<head>
    <title>Confimration Pdf</title>
    <meta name="description" content="Confirmation Pdf"/>
    <style>
        h1 {
            font-size: 24px;
            line-height: 12px;
        }

        .label-title {
            font-size: 14px;
            line-height: 18px;
        }

        .label {
            font-size: 14px;
            line-height: 24px;
        }

        .value-title {
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
        }

        .value-big {
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
        }

        .value-small {
            font-size: 12px;
            font-weight: 600;
        }

        .font-small {
            font-size: 10px;
            line-height: normal;
        }

        .font-small-grey {
            font-size: 10px;
            color: #888888;
            line-height: normal;
        }

        .section-title {
            font-size: 16px;
            line-height: 14px;
            font-weight: 600;
            color: #888888;
        }

        .divider-full {
            width: 100%;
            border-bottom: 1px solid black;
        }

        .divider-not-full {
            width: 90%;
            border-bottom: 1px solid black;
        }

        .svg {
            fill: currentColor;
            width: 1em;
            height: 1em;
            display: inline-block;
            font-size: 1.4rem;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            flex-shrink: 0;
            user-select: none;
        }

        .wrapper {
            width: 100%;
            font-size: 0px;
        }

        .left-wrapper {
            display: inline-block;
            width: 16%;
        }

        .right-wrapper {
            display: inline-block;
            width: 100%;
        }

        .section-wrapper {
            width: 100%;
            position: relative;
        }

        .section-left-wrapper {
            width: 49%;
            text-align: left;
            display: inline-block;
            height: 130px;
        }

        .section-right-wrapper {
            width: 49%;
            text-align: right;
            display: inline-block;
            height: 130px;
        }

        .detail-wrapper {
            text-align: left;
            width: 50%;
            position: absolute;
            top: 0px;
        }

        .img-wrapper {
            margin-top: 40px;
            text-align: center;
        }

        .logo {
            width: 60%;
            height: auto;
        }

        .section-title-wrapper {
            margin-top: 10px;
        }

        .input-wrapper {
            float: left;
            box-sizing: border-box;
            width: 49%;
            height: 20px;
            margin-top: 10px;
            position: relative;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="right-wrapper">
        <div class="section-wrapper">
            <div class="section-left-wrapper">
                <div class="font-small-grey">
                    ${storeContact}
                </div>
                <div class="font-small-grey">
                    ${storeEmail}
                </div>
                <div class="font-small-grey">
                    <a href="https://www.elephone.com.au">${website}</a>
                </div>
                <h1>Work</h1>
                <h1>${type}</h1>
                <h1>Form</h1>
            </div>
            <div class="section-right-wrapper">
                <div class="font-small-grey">
                    Elephone ${storeName}
                </div>
                <div class="font-small-grey">
                    ${storeAddress}
                </div>
                <div class="font-small-grey">
                    ${storeSuburb} ${storeState} ${storePostcode}
                </div>
                <div style="margin-top: 8px;"></div>
                <div class="label-title">Reference No.</div>
                <div class="value-title">${reference}</div>
                <div class="label-title">Date</div>
                <div class="value-title">${date}</div>
            </div>
        </div>
        <div class="divider-full"></div>
        <div style="height: 464px; position: relative;">
            <div class="detail-wrapper" style="left: 0px;">
                <div class="section-title-wrapper">
                    <div class="section-title">CUSTOMER DETAILS</div>
                </div>
                <div style="margin-top: 8px;"></div>
                <div class="label">Customer Name</div>
                <div class="value-big">${customerName}</div>
                <div class="divider-not-full"></div>
                <div class="label">Contact Number</div>
                <div class="value-big">${customerContact}</div>
                <div class="divider-not-full"></div>
                <div class="label">Email</div>
                <div class="value-big">${customerEmail}</div>
                <div class="divider-not-full"></div>
                <div class="section-title-wrapper">
                    <div class="section-title">INSPECTION</div>
                </div>
                <div style="width: 100%; height: 194px; box-sizing: border-box; overflow: hidden;">
                    ${inspection}
                </div>

                <div class="label">Battery</div>
                <div class="value-big">${battery}</div>
                <div class="divider-not-full"></div>

            </div>
            <div class="detail-wrapper" style="right: 0px;">
                <div class="section-title-wrapper">
                    <div class="section-title">DEVICE INFORMATION</div>
                </div>
                <div style="margin-top: 8px;"></div>
                <div class="label">Device</div>
                <div class="value-big">${device}</div>
                <div class="divider-not-full"></div>
                <div class="width: 100%">
                    <div style="display: inline-block; width: 50%;">
                        <div class="label">Color</div>
                        <div class="value-big">${color}</div>
                        <div class="divider-not-full"></div>
                    </div>
                    <div style="display: inline-block; width: 50%;">
                        <div class="label">Passcode</div>
                        <div class="value-big">${passcode}</div>
                        <div class="divider-not-full"></div>
                    </div>
                </div>
                <div class="label">IMEI</div>
                <div class="value-big">${imei}</div>
                <div class="divider-not-full"></div>
                <div class="section-title-wrapper">
                    <div class="section-title">REPAIR DETAILS</div>
                </div>
                <div class="label">Device Issue</div>
                <div style="height: 56px; width: 100%; font-size: 10px; ">${issue}</div>
                <div class="divider-not-full"></div>
                <div class="label">Proposed Resolution</div>
                <div style="height: 56px; width: 100%; font-size: 10px;">${resolution}</div>
                <div class="divider-not-full"></div>
                <div class="label">Comments</div>
                <div style="height: 56px; width: 100%; font-size: 10px;">${comment}</div>
                <div class="divider-not-full"></div>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-title">REPAIR ESTIMATE</div>
            <div class="width: 100%">
                <div class="label" style="display: inline-block; width: 10%;">
                    No.
                </div>
                <div class="label" style="display: inline-block; width: 65%;">
                    Description
                </div>
                <div class="label" style="display: inline-block; width: 20%;">
                    Amount
                </div>
            </div>
            ${repairEstimate}
            <div style="width: 100%; text-align: right">
                <div>
                    <span class="label"><strong>Total</strong></span>
                    <div style="display: inline-block; margin-left: 10px; width: 80px; text-align: left">
                        <span class="label">$ ${total}</span>
                        <div class="divider-not-full"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-title-wrapper">
                <div class="section-title">AGREEMENT</div>
            </div>
            <div style="width: 100%; ">
                <div class="font-small">${agreement}
                </div>
            </div>
        </div>
        <div class="section-title-wrapper">
            <div class="label">Customer Signature</div>
            <div style="border: 1px solid black; width: 320px; height: 100px">
                <img style="width: 100%; height: auto;" src="${signature}" alt="signature"></img>
            </div>
        </div>
    </div>
    <div class="section-wrapper" style="page-break-before: always;">
        <div class="section-title-wrapper">
            <div class="section-title">TERMS & CONDITIONS</div>
        </div>
        <div style="margin-top: 16px; font-size: 11px; width: 100%;">
            Conditions governing the repair of your product by ${storeCompanyName} Pty Ltd trading as Elephone, ABN
            ${storeAbn}.<br/> 1. Elephone will service your product as described and for the charges shown on the
            Work Authorisation. <br/> 2. Unless your product is repaired under warranty or extended service contract
            without charge, you will pay Elephone the amount shown on the reverse side. Your payment is due when the
            product is returned to you. Unless specified otherwise, the estimated amount shown on the reverse side
            includes all parts, labour, transportation required for the repair of the product. Elephone may told you
            responsible for the diagnostic fee on the reverse side. if Elephone inspects your product, provide an
            estimate for you, and you do not authorise Elephone to undertake the repairs for the estimated charges.
            If Elephone determines, while inspecting your product, that repairs are needed due to failures of parts
            that are neither supplied by Elephone nor Elephone branded — or are needed due to damage caused by
            abuse, misuse or misapplication — Elephone reserves the right to return the product to you without
            repairing it, and will hold you responsible for the diagnostic fee on the reverse side. <br/> 3. Labour
            charges may also apply for any cancellation or reversals of repairs after confirmation to proceed with
            repair works. If the requested repairs require labour and/or parts not specified on the reverse side,
            Elephone may seek your approval of a revised estimate. If you do not agree that Elephone may revise the
            charges, Elephone may return your product and hold you responsible for the diagnostic fee shown on the
            reverse side.<br/> 4. Elephone does not provide any warranty for any spare parts supplied by the third
            parties (dealer or customer).Liquid/water ingress will have only 30 days warranty, no refund or warranty
            after 30days from the pick up date. This covers the specific component replaced or work done. There is
            no warranty for the failure of any additional components at a later stage. Furthermore, due to possible
            progressive corrosion, company does not accept responsibility for any further faults that may have
            occurred during the time between the quotation and the commencement of repairs.Phone Repair Service
            warranty applies when the exact same fault occurs or the replaced component fails within the *warranty
            period, with the exception of liquid/Water damaged phones / devices. Physical damage is not covered by
            warranty.Warranty will be ceased immediately if the phone/device is repaired or altered by any third
            party without the consent of our Company. If repairing your product under your part’s warranty or
            extended service contract, Elephone may use new, used or reconditioned parts, as permitted by these
            terms. If repairing parts outside of warranty or extended service contract. Elephone may use new, used
            or reconditioned parts. If Elephone replaces a part, then unless otherwise agreed, title in the replaced
            part will pass to Elephone as its property, and the replacement part will become your property. Replaced
            parts are generally repairable and are exchanged or repaired by Elephone for value. If you and Elephone
            agree for Elephone to return a replaced part to you, you agree to pay Elephone the cost of the
            replacement item in addition to any other charges for the repair service.<br/> 5. All supplied parts are
            compatible/equivalent to the original parts, your original manufacturer’s warranty will be void for any
            repair service. If Elephone repairs your product under warranty or extended service contract, the repair
            will be concerned solely by the terms of warranty or extended service contract and applicable provisions
            of law, if your product is repaired outside of warranty, Elephone warrants (1) that the repairs will be
            performed in a competent and workmanlike manner and (2) that all parts used to repair your product will
            be free from defects in materials and workmanship for a period up to ${storeWarranty} days, unless
            otherwise specified by Elephone. Information on your product’s parts warranty maybe obtained by
            contacting Elephone. The warranty on parts is an express limited warranty. Goods presented for repair
            may be replaced by refurbished goods of the same type rather than being repaired. Refurbished parts may
            be used to repair the goods. If a defect exists in a replacement part during the part’s warranty period.
            at its option, Elephone will (1) repair the part using new, used or reconditioned replacement parts, (2)
            replace the part with a new, used or reconditioned equivalent part, or (3) refund the fair market value
            of the part, as determined by Elephone. To the extent permitted by law this warranty and remedy are
            exclusive and in lieu of all other warranties, remedies and conditions, whether oral or written, express
            or implied, with respect to the repair parts, To the extent permitted by law Elephone specifically
            disclaims any and all implied warranties with respect to such parts, including, without limitation,
            warranties of merchantability and fitness for a particular purpose. If Elephone cannot lawfully disclaim
            implied warranties under this limited warranty, all such warranties, including warranties of
            merchantability and fitness for a particular purpose, are limited in duration to the duration of the
            express limited warranty. a. Certain legislation, including the competition and consumer act 2010, may
            imply warranties or conditions or impose obligations upon Elephone, which cannot be excluded, restricted
            or modified, or cannot be excluded, restricted or modified except to a limited extent. These Terms and
            Conditions must be read subject to these statutory provisions. If these statutory provisions apply, to
            the extent to which Elephone is entitled to do so, Elephone limits its liability in respect of any claim
            under those provisions to at Elephone’s option (1) the supplying of the services again or (2) the
            payment of the cost of having the services supplied again. <br/> 6. If the phone/device cannot turn on
            or no display on the phone/device, our company will not have any liabilities to any other parts apart
            from the replaced parts and services. All other problems which occurs to the phone/device will be at
            customer`'`s own cost. All assessment is based on final assessment by technician, our company will
            reserve the right to revoke the assessment or verify the price. Further notice will be given to
            customers. No cosmetics claim after the repair services. Elephone does not carry any responsibility for
            such claim. If any product should be damaged or lost while in Elephone’s custody, to the extent
            permitted by law Elephone’s liability will be limited to the cost of repair or replacement of the
            affected product. Subject to the previous sentence, Elephone’s entire liability for your damages from
            any cause whatsoever with respect to the repair of your product, whether due to Elephone’s negligence or
            to any other reason, is limited to the amounts that you pay for repair services. To the extent permitted
            by law, your only remedy under this repair agreement in respect of any matter not addressed by the
            previous sentences is to seek recovery of damages against Elephonoe in an amount not exceeding what you
            have paid for repair services. To the extent permitted by law, Elephone has no liability whatsoever for
            indirect, special, exemplary or consequential damages, lost profits or revenue. To the extent permitted
            by law, Elephone also has no liability for loss of or damage to data or software applications. To the
            extent permitted by law, Elephone is not responsible for any failures pr delays in providing services
            that are due to events outside Elephone’s reasonable control. Repair of your goods may result in loss of
            data. To the extent permitted by law, Elephone is not liable for any defects or damage to any software
            or data stored, residing or recorded in your product, nor for any loss, corruption or breach of such
            data, including any confidential, proprietary or personal information or removable data. By providing
            your product under these terms and conditions you accept and agree that either (A) you have made a
            backup copy of your data and removed any confidential, proprietary or personal information and removable
            media such as usb devices, CDs or PC cards, or (B) you have assumed the risk that suck information or
            media may be lost, corrupted or compromised during service or repair, you further acknowledge and agree
            that Elephone cannot guarantee the safety, security or integrity of any data that remains on you product
            while it is undergoing service or repair.<br/> 7. It is a condition of Elephone accepting your product
            for repair that the product is subject to disposal of uncollected goods legislation and that legislation
            confers on Elephone a right of sale exercisable in certain circumstances. If you have not claimed your
            product and paid all charges due within the minimum period by law after Elephone has provided you with
            notice that you product is ready for pick up, Elephone will consider you product abandoned and Elephone
            will be entitled to exercise its right under law to dispose of the product. Elephone will provide all
            notices to you required by this section or that Elephone is required to provide to you under law in
            relation to the exercise of Elephone’s right of disposal, by messaging or emailing such notice to the
            contact you furnished when you authorised the repairs. Elephone may dispose of your product in
            accordance with law, and specifically. Elephone may sell your product at a private or public sale or by
            such other legally permitted means without liability to you. Elephone may deduct from the disposal
            proceeds any amounts owing to Elephone and any remainder will be dealt with in accordance with law.
            Elephone reserves its statutory and any other lawful liens for unpaid charges.<br/> 8. If repair service
            involves transferring information or installing software, you represent that you have the legal right to
            copy the information and agree to the terms of software licence, and you authorise Elephone to transfer
            the information and accept such terms on your behalf in performing the service.<br/> 9. Warranty for
            repair is ${storeWarranty} days (except Liquid/water damage service). Warranty can be extended, only if
            customer purchases the extra warranty (no warranty extension for Liquid/water damage services).<br/> 10.
            There Terms and Conditions are the only ones that govern Elephone’s repair of your product. Except as
            otherwise stated in these Terms and Conditions, no other oral or written Terms or Conditions apply. No
            one has the authority from Elephone to vary any of these Terms and Conditions. Elephone resserves the
            right to alter the Terms and Conditions without prior notice and make the final decision in the event of
            any dispute.<br/> 11. You agree and understand that it is necessary for Elephone to collect, process and
            use your data in order to perform the service and support obligations under these Terms and Conditions.
            In Elephone, you trust means everything to us. That’s why we respect your privacy and protect it with
            strict policies that govern how all data is handled.
        </div>
    </div>
</div>
</body>
</html>